@model M0v1n.Models.Locador

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layoutsemlogin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Locador</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeLocador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeLocador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataNascimentoLocador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataNascimentoLocador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CpfLocador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CpfLocador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailLocador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailLocador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SenhaLocador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SenhaLocador)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LocadorID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
