@model IEnumerable<M0v1n.Models.Locador>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutLocaIndex.cshtml";
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomeLocador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataNascimentoLocador)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.EmailLocador)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomeLocador)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataNascimentoLocador)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.EmailLocador)
        </td>
        
        <td>
            |
            @Html.ActionLink("Details", "Details", new { id=item.LocadorID }) |
           
        </td>
    </tr>
}

</table>
