@model M0v1n.Models.Anuncio

@{
    ViewBag.Title = "Create";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Movin</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <!-- Favicons -->
    <link href="~/Content/img/favicon.png" rel="icon">
    <link href="~/Content/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700|Raleway:300,400,400i,500,500i,700,800,900" rel="stylesheet">
    <!-- Bootstrap CSS File -->
    <link href="~/Content/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Libraries CSS Files -->
    <link href="~/Content/lib/nivo-slider/css/nivo-slider.css" rel="stylesheet" />
    <link href="~/Content/lib/owlcarousel/owl.carousel.css" rel="stylesheet" />
    <link href="~/Content/lib/owlcarousel/owl.transitions.css" rel="stylesheet" />
    <link href="~/Content/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/lib/animate/animate.min.css" rel="stylesheet" />
    <link href="~/Content/lib/venobox/venobox.css" rel="stylesheet" />
    <!-- Nivo Slider Theme -->
    <link href="~/Content/css/nivo-slider-theme.css" rel="stylesheet" />
    <!-- Main Stylesheet File -->
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <!-- Responsive Stylesheet File -->
    <link href="~/Content/css/responsive.css" rel="stylesheet" />
    <!-- =======================================================
      Theme Name: eBusiness
      Theme URL: https://bootstrapmade.com/ebusiness-bootstrap-corporate-template/
      Author: BootstrapMade.com
      License: https://bootstrapmade.com/license/
    ======================================================= -->
</head>
<body data-spy="scroll" data-target="#navbar-example">
    <div id="preloader"></div>
    <header>
        <!-- header-area start -->
        <div id="sticker" class="header-black">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <!-- Navigation -->
                        <nav class="navbar navbar-default">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".bs-example-navbar-collapse-1" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <!-- Brand -->
                                <a class="navbar-brand page-scroll sticky-logo" href="index.html">
                                    <h1><span>M</span>ovin</h1>
                                    <!-- Uncomment below if you prefer to use an image logo -->
                                    <!-- <img src="img/logo.png" alt="" title=""> -->
                                </a>
                            </div>
                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse main-menu bs-example-navbar-collapse-1" id="navbar-example">
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="active">
                                        <a class="page-scroll" href="#home">Home</a>
                                    </li>
                                    <li>
                                        <a class="page-scroll" href="#blog">Blog</a>
                                    </li>
                                    <li>
                                        <a class="page-scroll" href="#contact">Contato</a>
                                    </li>
                                    <li>
                                        @Html.ActionLink("Entrar", "Logar", "Publico")
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
            <div class="container">
                <div class="form-horizontal">
                    <br />
                    <h4 class="text-center">Crie Agora Seu Anuncio Abaixo</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="control-label">Qual locador é você?</label>
                            @Html.DropDownList("LocadorID", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.LocadorID, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.Rua, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Rua, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Rua, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-2">
                            @Html.LabelFor(model => model.Bairro, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Bairro, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Bairro, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            @Html.LabelFor(model => model.Descricao, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Descricao, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-2">
                            @Html.LabelFor(model => model.Numero, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Numero, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Numero, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.Cep, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Cep, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Cep, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-2">
                            @Html.LabelFor(model => model.QuartoSolteiro, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.QuartoSolteiro, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.QuartoSolteiro, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-2">
                            @Html.LabelFor(model => model.QuartoCasal, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.QuartoCasal, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.QuartoCasal, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-2">
                            @Html.LabelFor(model => model.QuartoComunitario, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.QuartoComunitario, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.QuartoComunitario, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.Cidade, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Cidade, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Cidade, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-2">
                            @Html.LabelFor(model => model.UF, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.UF, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.UF, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-2">
                            @Html.LabelFor(model => model.QtdCama, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.QtdCama, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.QtdCama, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-2">
                            @Html.LabelFor(model => model.QtdBanheiro, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.QtdBanheiro, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.QtdBanheiro, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-2">
                            @Html.LabelFor(model => model.NumHospedes, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.NumHospedes, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.NumHospedes, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-2">
                            @Html.LabelFor(model => model.ValorDiaria, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.ValorDiaria, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ValorDiaria, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.Foto1, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Foto1, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Foto1, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.Foto2, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Foto2, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Foto2, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <label class="control-label col-md-2">Ar Condicionado?</label>
                            <div class="col-md-2">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.ArCondicionado)
                                    @Html.ValidationMessageFor(model => model.ArCondicionado, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <label class="control-label col-md-2">Ventilador?</label>
                            <div class="col-md-2">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.Ventilador)
                                    @Html.ValidationMessageFor(model => model.Ventilador, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <label class="control-label col-md-2">Banheira?</label>
                            <div class="col-md-2">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.Banheira)
                                    @Html.ValidationMessageFor(model => model.Banheira, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="control-label col-md-2">Internet?</label>
                            <div class="col-md-2">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.Internet)
                                    @Html.ValidationMessageFor(model => model.Internet, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <label class="control-label col-md-2">TV a Cabo?</label>
                            <div class="col-md-2">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.TvCabo)
                                    @Html.ValidationMessageFor(model => model.TvCabo, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <label class="control-label col-md-2">Animais?</label>
                            <div class="col-md-2">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.Animais)
                                    @Html.ValidationMessageFor(model => model.Animais, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="control-label col-md-2">Fumante?</label>
                            <div class="col-md-2">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.Fumante)
                                    @Html.ValidationMessageFor(model => model.Fumante, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group hidden">
                                @Html.LabelFor(model => model.Ativo, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-2">
                                    <div class="checkbox">
                                        @Html.CheckBoxFor(model => model.Ativo, htmlAttributes: new { @checked = true })
                                        @Html.ValidationMessageFor(model => model.Ativo, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="text-center">
                        <button class="ready-btn right-btn page-scroll" type="submit" value="Criar">Criar Anuncio</button>
                    </div>
                </div>
            </div>
            }

            <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
            <!-- JavaScript Libraries -->
            <script src="~/Content/lib/jquery/jquery.min.js"></script>
            <script src="~/Content/lib/bootstrap/js/bootstrap.min.js"></script>
            <script src="~/Content/lib/owlcarousel/owl.carousel.min.js"></script>
            <script src="~/Content/lib/venobox/venobox.min.js"></script>
            <script src="~/Content/lib/knob/jquery.knob.js"></script>
            <script src="~/Content/lib/wow/wow.min.js"></script>
            <script src="~/Content/lib/parallax/parallax.js"></script>
            <script src="~/Content/lib/easing/easing.min.js"></script>
            <script src="~/Content/lib/nivo-slider/js/jquery.nivo.slider.js" type="text/javascript"></script>
            <script src="~/Content/lib/appear/jquery.appear.js"></script>
            <script src="~/Content/lib/isotope/isotope.pkgd.min.js"></script>
            <!-- Contact Form JavaScript File -->
            <script src="~/Content/contactform/contactform.js"></script>
            <script src="~/Content/js/main.js"></script>
    </body>
</html>
