@model M0v1n.Models.Anuncio

@{
                /**/

                ViewBag.Title = "Create";
                Layout = "~/Views/Shared/_LayoutAnuncios.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="form-horizontal">
            <br />
            <h4 class="text-center">Crie Agora Seu Anuncio Abaixo</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <div class="col-md-6">
                    <label class="control-label">Qual locador é você?</label>
                    @Html.DropDownList("LocadorID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.LocadorID, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(model => model.Rua, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Rua, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Rua, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-2">
                    @Html.LabelFor(model => model.Bairro, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Bairro, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Bairro, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    @Html.LabelFor(model => model.Descricao, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Descricao, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-2">
                    @Html.LabelFor(model => model.Numero, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Numero, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Numero, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(model => model.Cep, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Cep, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Cep, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.QuartoSolteiro, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.QuartoSolteiro, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.QuartoSolteiro, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-2">
                    @Html.LabelFor(model => model.QuartoCasal, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.QuartoCasal, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.QuartoCasal, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-2">
                    @Html.LabelFor(model => model.QuartoComunitario, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.QuartoComunitario, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.QuartoComunitario, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(model => model.Cidade, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Cidade, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Cidade, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-2">
                    @Html.LabelFor(model => model.UF, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.UF, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UF, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.QtdCama, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.QtdCama, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.QtdCama, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-2">
                    @Html.LabelFor(model => model.QtdBanheiro, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.QtdBanheiro, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.QtdBanheiro, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-2">
                    @Html.LabelFor(model => model.NumHospedes, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.NumHospedes, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NumHospedes, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-6">
                    @Html.LabelFor(model => model.Problemas, htmlAttributes: new { @class = "control-label" })
                    @Html.HiddenFor(model => model.Problemas, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Problemas, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.ValorDiaria, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.ValorDiaria, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ValorDiaria, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3">
                    @Html.LabelFor(model => model.Foto1, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Foto1, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Foto1, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-3">
                    @Html.LabelFor(model => model.Foto2, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Foto2, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Foto2, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <label class="control-label col-md-2">Ar Condicionado?</label>
                    <div class="col-md-2">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.ArCondicionado)
                            @Html.ValidationMessageFor(model => model.ArCondicionado, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <label class="control-label col-md-2">Ventilador?</label>
                    <div class="col-md-2">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.Ventilador)
                            @Html.ValidationMessageFor(model => model.Ventilador, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <label class="control-label col-md-2">Banheira?</label>
                    <div class="col-md-2">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.Banheira)
                            @Html.ValidationMessageFor(model => model.Banheira, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="control-label col-md-2">Internet?</label>
                    <div class="col-md-2">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.Internet)
                            @Html.ValidationMessageFor(model => model.Internet, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <label class="control-label col-md-2">TV a Cabo?</label>
                    <div class="col-md-2">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.TvCabo)
                            @Html.ValidationMessageFor(model => model.TvCabo, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <label class="control-label col-md-2">Animais?</label>
                    <div class="col-md-2">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.Animais)
                            @Html.ValidationMessageFor(model => model.Animais, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="control-label col-md-2">Fumante?</label>
                    <div class="col-md-2">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.Fumante)
                            @Html.ValidationMessageFor(model => model.Fumante, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group hidden">
                        @Html.LabelFor(model => model.Ativo, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-2">
                            <div class="checkbox">
                                @Html.CheckBoxFor(model => model.Ativo, htmlAttributes: new { @checked = true })
                                @Html.ValidationMessageFor(model => model.Ativo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="text-center">
                <button class="ready-btn right-btn page-scroll" type="submit" value="Criar">Criar Anuncio</button>
            </div>
        </div>
    </div>
}