@model M0v1n.Models.Usuario

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataNascimentoUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataNascimentoUsuario)
        </dd>

        

        <dt>
            @Html.DisplayNameFor(model => model.EmailUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailUsuario)
        </dd>

        

    </dl>
</div>

