@model IEnumerable<M0v1n.Models.Usuario>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nomeUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dataNascimentoUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cpfUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.emailUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.senhaUsuario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nomeUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dataNascimentoUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cpfUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.emailUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.senhaUsuario)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UsuarioID }) |
            @Html.ActionLink("Details", "Details", new { id=item.UsuarioID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UsuarioID })
        </td>
    </tr>
}

</table>
