@model IEnumerable<M0v1n.Models.Usuario>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUsuIndex.cshtml";
}



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomeUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataNascimentoUsuario)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.EmailUsuario)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomeUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataNascimentoUsuario)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.EmailUsuario)
        </td>
        
        <td>
             
            @Html.ActionLink("Details", "Details", new { id=item.UsuarioID }) |
            
        </td>
    </tr>
}

</table>
