@model M0v1n.Models.Locador

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Locador</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nomeLocador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nomeLocador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dataNascimentoLocador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dataNascimentoLocador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cpfLocador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cpfLocador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emailLocador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emailLocador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.senhaLocador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.senhaLocador)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LocadorID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
