<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Movin</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <!-- Favicons -->
    <link href="~/Content/img/favicon.png" rel="icon">
    <link href="~/Content/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700|Raleway:300,400,400i,500,500i,700,800,900" rel="stylesheet">
    <!-- Bootstrap CSS File -->
    <link href="~/Content/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Libraries CSS Files -->
    <link href="~/Content/lib/nivo-slider/css/nivo-slider.css" rel="stylesheet" />
    <link href="~/Content/lib/owlcarousel/owl.carousel.css" rel="stylesheet" />
    <link href="~/Content/lib/owlcarousel/owl.transitions.css" rel="stylesheet" />
    <link href="~/Content/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/lib/animate/animate.min.css" rel="stylesheet" />
    <link href="~/Content/lib/venobox/venobox.css" rel="stylesheet" />
    <!-- Nivo Slider Theme -->
    <link href="~/Content/css/nivo-slider-theme.css" rel="stylesheet" />
    <!-- Main Stylesheet File -->
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <!-- Responsive Stylesheet File -->
    <link href="~/Content/css/responsive.css" rel="stylesheet" />
    <!-- =======================================================
      Theme Name: eBusiness
      Theme URL: https://bootstrapmade.com/ebusiness-bootstrap-corporate-template/
      Author: BootstrapMade.com
      License: https://bootstrapmade.com/license/
    ======================================================= -->
</head>
<body data-spy="scroll" data-target="#navbar-example">
    <div id="preloader"></div>
    <header>
        <!-- header-area start -->
        <div id="sticker" class="header-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <!-- Navigation -->
                        <nav class="navbar navbar-default">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".bs-example-navbar-collapse-1" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <!-- Brand -->
                                <a class="navbar-brand page-scroll sticky-logo" href="~/Views/Home/Index.cshtml">
                                    @*<a href="~/Views/Home/Index.cshtml">~/Views/Home/Index.cshtml</a>*@
                                    <h1><span>M</span>ovin</h1>
                                    <!-- Uncomment below if you prefer to use an image logo -->
                                    <!-- <img src="img/logo.png" alt="" title=""> -->
                                </a>
                            </div>
                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse main-menu bs-example-navbar-collapse-1" id="navbar-example">
                                <div class="nav navbar-nav navbar-right">

                                    <div class="navbar-collapse collapse">
                                        <ul class="nav navbar-nav">
                                            <li>
                                                <a class="page-scroll" href="#home">Home</a>
                                            </li>
                                            <li>@Html.ActionLink("Locadores", "Index", "Locadores")</li>
                                            <li>@Html.ActionLink("Usuarios", "Index", "Usuarios")</li>
                                            <li>@Html.ActionLink("Anuncios", "Index", "Anuncios")</li>
                                            <li>
                                                <a class="page-scroll" href="#contact">Contato</a>
                                            </li>
                                            <li>@Html.ActionLink("Entrar", "Logar", "Publico")</li>
                                        </ul>
                                    </div>



                                </div>

                            </div>
                            <!-- navbar-collapse -->
                        </nav>
                        <!-- END: Navigation -->
                    </div>
                </div>
            </div>
        </div>
        <div id="home" class="slider-area">
            <div class="bend niceties preview-2">
                <div id="ensign-nivoslider" class="slides">

                    @*<img src="~/Content/img/slider/slider1.jpg" alt="" title="#slider-direction-1" />*@

                    <img src="~/Content/img/slider/slider2.jpg" alt="" title="#slider-direction-2" />

                    @*<img src="~/Content/img/slider/slider3.jpg" alt="" title="#slider-direction-3" />*@
                </div>
                <!-- direction 1 -->
                @*<div id="slider-direction-1" class="slider-direction slider-one">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="slider-content">
                                    <!-- layer 1 -->
                                    <div class="layer-1-1 hidden-xs wow slideInDown" data-wow-duration="2s" data-wow-delay=".2s">
                                        <h2 class="title1">Precisa de um lugar para morar? </h2>
                                    </div>
                                    <!-- layer 2 -->
                                    <div class="layer-1-2 wow slideInUp" data-wow-duration="2s" data-wow-delay=".1s">
                                        <h1 class="title2">Nós podemos te ajudar...</h1>
                                    </div>
                                    <!-- layer 3 -->
                                    <div class="layer-1-3 hidden-xs wow slideInUp" data-wow-duration="2s" data-wow-delay=".2s">
                                        <a class="ready-btn right-btn page-scroll" href="~/Views/Usuarios/Create.cshtml">Cadastre-se</a>
                                        @*<a href="~/Views/Usuarios/Create.cshtml">~/Views/Usuarios/Create.cshtml</a>*@
                @*<a class="ready-btn page-scroll" href="#about">Usuário</a>*@
                @*</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>*@
                <!-- direction 2 -->
                <div id="slider-direction-2" class="slider-direction slider-two">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="slider-content text-center">
                                    <!-- layer 1 -->
                                    <div class="layer-1-1 hidden-xs wow slideInUp" data-wow-duration="2s" data-wow-delay=".2s">
                                        <h2 class="title1">Estudantes e Empresários </h2>
                                    </div>
                                    <!-- layer 2 -->
                                    <div class="layer-1-2 wow slideInUp" data-wow-duration="2s" data-wow-delay=".1s">
                                        <h1 class="title2">Consiga uma casa em outra cidade de forma fácil</h1>
                                    </div>
                                    <!-- layer 3 -->
                                    <div class="layer-1-3 hidden-xs wow slideInUp" data-wow-duration="2s" data-wow-delay=".2s">
                                        <a class="ready-btn right-btn page-scroll" href="~/Views/Usuarios/Create.cshtml">Cadastre-se</a>

                                        @*<a class="ready-btn page-scroll" href="#about">Learn More</a>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- direction 3 -->
                @*<div id="slider-direction-3" class="slider-direction slider-two">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="slider-content">
                                    <!-- layer 1 -->
                                    <div class="layer-1-1 hidden-xs wow slideInUp" data-wow-duration="2s" data-wow-delay=".2s">
                                        <h2 class="title1">Tem um lugar e quer aluga-lo? </h2>
                                    </div>
                                    <!-- layer 2 -->
                                    <div class="layer-1-2 wow slideInUp" data-wow-duration="2s" data-wow-delay=".1s">
                                        <h1 class="title2">Vire um locador com a movin</h1>
                                    </div>
                                    <!-- layer 3 -->
                                    <div class="layer-1-3 hidden-xs wow slideInUp" data-wow-duration="2s" data-wow-delay=".2s">
                                        <a class="ready-btn right-btn page-scroll" href="~/Views/Locadores/Create.cshtml">Cadastre-se</a>

                                        @*<a class="ready-btn page-scroll" href="#about">Learn More</a>*@
                @*</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>*@
            </div>
        </div>

        <!-- header-area end -->
    </header>
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <!-- JavaScript Libraries -->
    <script src="~/Content/lib/jquery/jquery.min.js"></script>
    <script src="~/Content/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/Content/lib/venobox/venobox.min.js"></script>
    <script src="~/Content/lib/knob/jquery.knob.js"></script>
    <script src="~/Content/lib/wow/wow.min.js"></script>
    <script src="~/Content/lib/parallax/parallax.js"></script>
    <script src="~/Content/lib/easing/easing.min.js"></script>
    <script src="~/Content/lib/nivo-slider/js/jquery.nivo.slider.js" type="text/javascript"></script>
    <script src="~/Content/lib/appear/jquery.appear.js"></script>
    <script src="~/Content/lib/isotope/isotope.pkgd.min.js"></script>
    <!-- Contact Form JavaScript File -->
    <script src="~/Content/contactform/contactform.js"></script>
    <script src="~/Content/js/main.js"></script>
</body>

@RenderBody();
<div id="contact" class="contact-area">
    <div class="contact-inner area-padding">
        <div class="contact-overly"></div>
        <div class="container ">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-headline text-center">
                        <h2>Contact us</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Start contact icon column -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="contact-icon text-center">
                        <div class="single-icon">
                            <i class="fa fa-mobile"></i>
                            <p>
                                Call: +1 5589 55488 55<br>
                                <span>Segunda-Sexta (9:00-17:00)</span>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Start contact icon column -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="contact-icon text-center">
                        <div class="single-icon">
                            <i class="fa fa-envelope-o"></i>
                            <p>
                                Email: Movinlocacoes@gmail.com<br>
                                <span>Movin.com.br</span>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Start contact icon column -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="contact-icon text-center">
                        <div class="single-icon">
                            <i class="fa fa-map-marker"></i>
                            <p>
                                Location: Casemiro Rocha<br>
                                <span>Cunha, SP  BR</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</html>


